@charset "UTF-8";

:root{
    --cor1:#3c184e;
    --cor2:#fff;
    --sombreamento1:#1f26875e;
    --sombreamento2:#0000005c
    ;
    --transparencia:#ffffffc4;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:sans-serif;
}
.banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    padding: 120px 80px;
    background: url(/images/banner-topo.jpg) center;
    background-size: cover;
}
@media (max-width: 425px){
    .banner{
        width: 100%;
        padding: 60px 20px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;  
    }
}
@media (max-width: 768px){
    .banner{
        width: 100%;
        height: auto;
        padding: 60px 20px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;  
    }
}
.container1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    margin: 0 auto 0 auto;
    color: var(--cor1);
}
@media(max-width: 425px){
    .container1{
        max-width: 100%;
        text-align: center;
        margin: 0 auto 0 auto;
        padding: 20px;
        font-size: 12px;
        line-height: 20px;
    }
}
.paragrafo1{
    font-size: 35px;
    margin: 0 0 5px 0;
}
.logo{
    width: 30px;
    margin-right: 5px;
}
.paragrafo2{
    font-size: 14px;
    text-align: center;
    margin: 0;
}
.container2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    border-radius: 10px;
    padding: 40px;
    margin: 70px auto 0 auto;
    background-color: var(--transparencia);
    box-shadow: 0 8px 32px #1f26875e;
}
.container2 h1{
    font-size: 60px;
    color: var(--cor1);
    text-align: center;
    font-weight: 800;
    margin: 0 0 40px 0;
}
.container2 p{
    width: 200px;
    padding: 10px 25px;
    margin: 0 auto 0 auto;
    border-radius: 10px;
    background-color: var(--cor1);
    font-size: 20px;
    text-align: center;
}
.container2 p a{
    text-decoration: none;
    color: var(--cor2);
    width: 20px;
}
.container2 p a img{
    width: 18px;
}
@media(max-width: 425px) {
    .container2 {
        max-width: 100%;
        margin: 0 auto 0 auto;
        padding: 20px;
        font-size: 12px;
    }

    .container2 .titulo {
        font-size: 30px;
    }
}
.servicos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 120px 80px;
}
.servicos h3{
    font-size: 36px;
    color: var(--cor1);
    text-align: center;
    margin: 0 0 45px 0;
}
.servicos .lista{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto 50px auto;
    color: var(--cor1);
}
.servicos .lista ul li{
    font-size: 20px;
    margin: 0 0 20px 0;
}
.servicos .lista ul li span{
    font-weight: 700;
    font-style: italic;
}
@media(max-width: 425px) {
    .servicos {
    width: 100%;
    padding: 60px 20px;
    }
    .servicos .lista {
        max-width: 100%;
        margin: 0 auto 20px auto;
    }

    .servicos .lista ul li {
        font-size: 16px;
        margin: 0 0 10px 0;
        width: 100%;
        padding: 0;
        list-style: none;
    }
}

.imagens{
    display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        gap: 10px;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}
.imagem{
    border-radius: 5px;
    box-shadow: 3px 6px 10px 6px var(--sombreamento2);
}
@media(max-width: 425px) {
    .imagens {
        max-width: 100%;
        margin: 0 auto;
        text-align: center;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        gap: 10px;
    }
}

.faixa1,
.faixa2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    padding: 120px 80px;
    background-color: var(--cor1);
    text-align: center;
}
.faixa1 p, .faixa2 p{
    max-width: 800px;
    margin: 0 auto 50px auto;
    font-size: 40px;
    color: var(--cor2);
    text-align: center;
}
.faixa1 span, .faixa2 span{
    font-weight: 700;
    font-style: italic;
}
@media(max-width: 425px) {

    .faixa1,
    .faixa2 {
        padding: 60px 20px;
    }

    .faixa1 p,
    .faixa2 p {
        font-size: 20px;
        margin: 0 0 20px 0;
        max-width: 100%;
        text-align: center;
    }
}
.redes-sociais{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    padding-right: 50px;
}
.redes-sociais a, .redes-sociais a img{
    text-decoration: none;
    margin-left: 20px;
    margin-right: 20px;
    width: 50px;
    height: 50px;
}
@media (max-width: 425px){
    .redes-sociais a, .redes-sociais a img{
        width: 30px;
        height: 30px;
        margin: 0 10px 0 10px;
        text-align: center;
    }
}
.marcas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 120px 80px;
    background-color: var(--cor2);
}
.marcas h3{
    font-size: 36px;
    color: var(--cor1);
    text-align: center;
    margin: 0 0 45px 0;
}
.marcas div{
    max-width: 800px;
    margin: 0 auto;
}
.marcas div img{
    width: 148px;
    height: 148px;
    margin: 0 15px;
}
@media(max-width: 425px){
    .marcas{
        width: 100%;
        padding: 60px 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        gap: 10px;
    }
}
@media(max-width: 768px){
    .marcas{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;
        padding: 60px 0px;
    }
    .marcas div{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
}

.onde-estamos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 120px 80px;
    text-align: center;
}
.onde-estamos h3{
    font-size: 36px;
    color:var(--cor1);
    text-align: center;
    margin: 0 0 45px 0;
}
.onde-estamos p{
    font-size: 20px;
    color: var(--cor1);
    text-align: center;
    margin: 0 0 45px 0;
}
.onde-estamos iframe{
    width: 800px;
    height: 450px;
}
@media(max-width: 425px){
    .onde-estamos{
        width: 100%;
        padding: 60px 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        gap: 10px;
    }
    .onde-estamos iframe{
        width: 100%;
        height: 300px;
    }
}
@media(max-width: 768px){
    .onde-estamos{
        width: 100%;
        padding: 60px 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        gap: 10px;
    }
    .onde-estamos iframe{
        width: 100%;
        height: 300px;
    }
}
.rodape{
    width: 100%;
    padding: 10px 0;
    background-color: var(--cor1);
}
.rodape p, .rodape p a{
    color: var(--cor2);
    font-size: 20px;
    text-align: center;
    text-decoration: none;
}